[2017-03-27 11:28] quizilkend opened #1 "Set Up Filelink in Icedove not possible"
## Bug report

### Steps to reproduce

1. Install the extension according to the README.md in this repository.
2. Add a filelink service and select nextcloud.

### Expected behaviour
The filelink setup window should appear.

### Actual behaviour
The filelink setup window contains an error message:
`
XML-Verarbeitungsfehler: Nicht definierte Entität Adresse: jar:file:///home/xxxx/.icedove/xxxxxxx.d

[2017-03-27 12:12] DJCrashdummy opened #2 "origin of the code"
_sorry for posting this as an issue... but i don't know where else to get easily in touch with the right recipient(s)._

i saw you modified the code from the old ownCloud-addon (https://addons.mozilla.org/thunderbird/addon/owncloud-for-filelink/), but why you didn't take the still working addon (https://addons.mozilla.org/thunderbird/addon/smart-owncloud-filelink/)?

thanks for enlightenment and i

[2017-03-27 14:27] fredlynx opened #3 "No ask for Big file attachment"
When adding a file using join file thunderburd no ask for using nextcloud, and send directly the file.

For adding file using next cloud I must add file using "file space" .

Thunderbird Version 45.8.0

Regards

[2017-03-28 08:58] oparoz commented on #2
The original code is actually located here:
https://github.com/kewisch/filelink-webdav
which itself is based on a reference implementation posted by Mozilla.

Since I only intend on supporting Nextcloud, it didn't make sense to patch the version found in the ownCloud domain.

I have no idea where the "smart" version is hosted, so I didn't take a look at it.

[2017-03-28 08:58] #2 closed

[2017-03-28 09:56] oparoz commented on #1
Could you please try with a profile in English?
Did you use the file posted on the Mozilla website or did you create your own?

[2017-03-29 07:35] quizilkend commented on #1
Okay.
Actually it works in a clean profile.
I use the language package provided by the debian repository.
Do you have an idea, what's the problem in my case?

[2017-03-29 07:43] quizilkend opened #4 "Password should be provided in the email sent"
## Bug report

### Steps to reproduce

1. set up nextcloud filelink with "password for uploaded files" set
1. send an email with an filelink attachement

### Expected behaviour
The password to access the file should be provided in the sent email. Otherwise recipients can't see the attachement.

### Actual behaviour
The password is not given in the email.

### Desktop configuration

**Operating sys

[2017-03-29 15:02] oparoz commented on #1
What happens if you use a clean profile and set it to German?

[2017-03-29 17:53] mightyBroccoli opened #5 "App Passwords not working?"
I really love this extension. Makes complicated stuff so easy to handle.

My problem is though that I cannot get app passwords to work. I can login to my account with the normal password with no problem but not with the app password. I checked it with several accounts and the app password always gets me an error " Wrong password" .

I am using Nextcloud 11.0.2 hosted on Debian 8 with apache and ph

[2017-03-30 17:51] #5 closed

[2017-03-31 07:38] brtptrs opened #7 "File typ as trigger for filelink"
It would be great to have the option to attach all files from certain types. Something like: Send all MS Office Documents as Download link.

[2017-04-03 12:34] guillaumev opened #8 "Plan for this module ?"
@oparoz Thank you for citing me in this code. I'm guessing this module is meant to be released in the Thunderbird ecosystem at some point. If you would like me to give you ownership of my module in Thunderbird so you can upload your module as a new version of mine, or would like me to mark my module as deprecated let me know, as I don't think it makes sense to have 2 competing "nextcloud for filel

[2017-04-03 13:59] oparoz commented on #4
We're thinking of generating a random one and printing it in the email if possible.
I don't think the API allows us to do this, so we'll have to use some clever tricks.

[2017-04-03 14:02] oparoz commented on #8
@guillaumev - I'm going to contact you offline to decide what to do. I wanted to have a Nextcloud version and it didn't make sense to work in the ownCloud repo, so I created this one.

[2017-04-03 14:02] #8 closed

[2017-04-18 14:42] oparoz commented on #7
I agree. Unfortunately, I think the Filelink API doesn't support that.
Are you aware of an extension which does something like this?

[2017-04-18 17:28] dab0u opened #14 "Error while creating the account"
## Bug report

### Steps to reproduce

1. Try to create the account in Thunderbird (options -> attached files -> add
2. When I press OK, after a first "error message", now it won't say anything and do anything else (without error message)

### Expected behaviour
The goal was to creat an account to work with my personnal nextcloud server.

### Actual behaviour
An error occured and now, nothing happ

[2017-04-18 17:36] oparoz commented on #14
Could you tell me how you installed the plugin?

[2017-04-18 17:38] dab0u commented on #14
Download the github folder, make a zip with the src folder, rename the extension to .xpi and use the extension installer in thunderbird.

[2017-04-18 17:44] dab0u commented on #14
I tried https://mydomain.com and that's all. Which would be the good address ? the webdav one ? without https ? But now, i can't have anymore error... :(

[2017-04-18 17:58] oparoz commented on #14
That's the correct way to fill the form, but there is something Thunderbird doesn't like because it's complaining about a malformed URI.

[2017-04-18 18:16] dab0u commented on #14
If you give me a way to private message you, i can send you the exact form i filled, if it can help you.

[2017-04-18 18:20] dab0u commented on #14
Ho, it worked !!
I had to create the folder manually BEFORE do it on thunderbird !
Thanks for your help. ;)

[2017-04-18 18:26] benediktg opened #15 "Add link to Mozilla Addon Page"
How about adding a link to https://addons.mozilla.org/thunderbird/addon/nextcloud-filelink/ to the Readme.md?

[2017-04-18 18:31] oparoz commented on #14
Ah, cool.
It's in the readme, but ideally we should create the folder if it doesn't exist...

[2017-04-18 18:31] #14 closed

[2017-04-18 18:36] jospoortvliet commented on #14
I will 'document' this on help.nextcloud.com as the search function makes sure ppl find this answer rather than ask it again ;-)

[2017-04-18 18:41] jospoortvliet commented on #14
https://help.nextcloud.com/t/error-while-creating-the-account/11508

[2017-04-18 18:51] oparoz opened #16 "Create initial folder"
## Feature request

### Steps to reproduce

1. Create a fresh Nextcloud account
1. Set up the add-on using that account

### Expected behaviour

The add-on should be ready to use in Thunderbird

### Actual behaviour

[code]

### Solution

1. Test if the folder exists
1. If not, create it

[2017-04-18 18:59] oparoz commented on #15
Yes, this will be done as soon as the latest release has been validated. The process for add-ons to be checked and approved takes months.

[2017-04-18 20:14] dab0u opened #17 "can't add a link in the mail."
I succeeded in installing the extension, but when I try it can't add a link file in the mail i'm creating.
I create a new mail, add a file bigger than the limit I put in the extension's option (10Mo, my file il 17Mo), it seems to upload it (little green circle moving near the file's name) but at the end, it says "Impossible to upload -my file- to -my server" (in french).
I click on "ok" but nor li

[2017-04-22 13:04] koug44 opened #21 "Not compatible with instances which use a sub-dir"
Hey,

with the Git version of the plugin, adding an account on Thunderbird results in an error.

Server: Nextcloud 11.0.2
URL: https://myserver.org/owncloud

With the Error Console, I can see it's because the plugin is concatenating the URL and the port in a wrong way, resulting a in 404 error (screenshot below)

![capture du 2017-04-18 10-13-38](https://cloud.githubusercontent.com/assets/4643678/

[2017-04-22 15:57] oparoz commented on #21
Ah, interesting, thanks for the report.
It looks like we may have to introduce another field if we don't want to play with regular expressions.

[2017-04-25 10:50] decibyte opened #22 "Nextcloud not showing up in the provider dropdown"
## Bug report

### Steps to reproduce

1. Follow installation instructions in README.
1. Restart Thunderbird, go to the Add panel. In the dropdown, I only see existing providers. No Nextcloud.

If I install the extension from AMO, it shows up properly as "ownCloud/nextCloud".

### Desktop configuration

**Operating system**:

Ubuntu 17.04

**Thunderbird version:**

45.8.0

**Updated from an older

[2017-05-01 14:26] #16 closed

[2017-05-17 13:21] ste7613 opened #23 "unknown error on upload"
## Bug report

### Steps to reproduce

1. install & configure nextcloud-filelink 1.5 in thunderbird
2. write a mail, try to attach a big file, say "Use FileLink"
3. i got "unknown error"
4. in the nexcloud folder i see the attached file with an timestamp_prefix

### Expected behaviour
no errors

### Actual behaviour
it should just work

### Server configuration

**Operating system**: Debian 8.7

*

[2017-05-31 08:00] Django43 opened #24 "Unbekannter Fehler"
I have a problem with Nextcloud for Filelink.

My system:
Nextcloud: 12.0.0
Nextcloud runs on NAS-Server with Openmediavault 3.0.77
Certificate: Own certificate with LetsEncrypt
Thunderbird: 54.0b2
Operating system Win10
Install & configure nextcloud for filelink 1.5 in Thunderbird

I have little computer skills.

In Nextcloud, I created a separate path /mail before installing the addon.

In the i

[2017-06-07 20:21] creopard commented on #23
Same here with Nextcloud 12 and Filelink 1.5, see also  https://github.com/nextcloud/nextcloud-filelink/issues/24
However the file gets uploaded properly in the remote "Mail-attachments" folder.
How can the "unknown error" be examined in Thunderbird?

[2017-06-07 20:41] creopard commented on #24
The change in PR #19 will fix this issue :)

[2017-06-08 17:33] Django43 commented on #24
Thank you for your response.

I have installed the "new" Version but i have already the same error. i got the message:

_An unknown error occurred while exchanging data with Nextcloud._

Please check one time more your solution.

Thank you very much.

Django43

[2017-06-09 07:32] creopard commented on #24
The release here on Github is still version 1.5 which is not updated yet.
You have to edit the file "src/components/nsNextcloud.js" yourself or take the file from the master branch directly: https://github.com/nextcloud/nextcloud-filelink/blob/master/src/components/nsNextcloud.js and replace it in your xpi/zip addon.

[2017-06-09 08:50] Django43 commented on #24
Thank you for your reply.

Now I can say, the addon is okay.

Thank you very much.

You can close the ticket.

Django43

[2017-06-14 15:08] rendxq opened #25 "Customisation filelink view"
Hi!
How to change filelink attachment view in messase?
https://support.cdn.mozilla.net/media/uploads/gallery/images/2014-05-05-01-21-28-8e37a8.png
I want leave only generated link and file size.
THX!

[2017-06-15 23:21] r2evans opened #26 "does not work when nextcloud in subdir"
## Bug report

Unable to connect to server when the domain includes a subdir path.

I believe the problem is that the script concatenates `this._serverUrl + ":" + this._serverPort`. (See the Thunderbird log below, it clearly shows the malformed URI.)

Suggestion, either:

1. Remove the field to type in the port number, regex-ing it out or assuming that URI defaults will suffice; this requires the

[2017-06-15 23:56] oparoz commented on #26
Thanks for the report. It's a duplicate of https://github.com/nextcloud/nextcloud-filelink/issues/21

[2017-06-15 23:56] #26 closed

[2017-06-15 23:57] r2evans commented on #26
Oh crap, I mis-read that, sorry.

[2017-06-16 00:01] oparoz commented on #26
Well, it's more that the title of that issue does not describe it very well ;)
I've renamed it.

[2017-06-16 23:47] kewisch opened #27 "License and Acknowledgements"
Thank you for working on this add-on. I've noticed that you have mentioned my name under "created by". I appreciate the attribution, but my role in this is not necessarily the creation. In order to avoid confusion maybe you can separate this to a section for authors whose sources you have used.

Also, as far as I am aware, those files that you have re-used from my MPL-licensed extension must be du

[2017-06-19 08:33] oparoz commented on #27
@kewisch - Thanks for the feedback and your work :). We'll take a look.

@schiessle Can you confirm? If it is, then I'll take a look to see how we re-used the original code.

[2017-06-26 08:07] bonanza123 opened #28 "Renaming functionality of thunderbird not applied to uploaded files"
Thunderbird offers to option to rename the attached right from the compose window (right click on the attachment -> rename). If I do that and then choose to upload the file to owncloud/nextcloud, the original file is uploaded, i.e. it is not being renamed first and then uploaded.

[2017-06-26 08:12] bonanza123 commented on #17
Are you sure that the folder you chose it to upload to (in the thunderbird settings) exists on the server?

[2017-06-29 11:04] sualko opened #29 "Server URL requires scheme"
## Bug report
"Set up Account" button doesn't response if you enter a "plain" url without scheme (http/https).

### Steps to reproduce

1. Enter all desired settings (Provider, Server URL, Port number, Username, Storage path). Remove the protocol part of your url.
2. "Set up Account" button gets active
3. Click on button doesn't result in any action

### Expected behaviour
Set up should complete o

[2017-06-29 11:08] sualko opened #30 "Preference screen is disordered"
## Bug report
![screenshot from 2017-06-29 12-48-24](https://user-images.githubusercontent.com/2974196/27684819-d13f0aa6-5ccb-11e7-981e-3fab69b47b74.png)

### Steps to reproduce

1. Open Settings > Attachments

### Expected behaviour
Should look like the screenshot in the readme.

### Server configuration

**Nextcloud version:** 11

**Updated from an older installation or fresh install:** update

[2017-06-30 13:57] guillaumev commented on #22
@decibyte are you sure you don't have the extension installed 2 times, ie one from addons.mozilla.org and one from this git repository ?

[2017-06-30 13:59] guillaumev commented on #23
This will be fixed in 1.6, or if you use the dev version of this repository, so closing this. Unfortunately, we are waiting for Mozilla to approve version 1.5 of this addon.

[2017-06-30 13:59] #23 closed

[2017-06-30 14:00] guillaumev commented on #24
Closing this.

[2017-06-30 14:00] #24 closed

[2017-06-30 14:04] guillaumev commented on #1
Closing this, feel free to reopen if needed.

[2017-06-30 14:04] #1 closed

[2017-06-30 14:07] guillaumev commented on #3
@fredlynx Are you sure you have the "Offer to share for files larger than" checkbox checked in the attachment settings ?

[2017-07-03 10:29] fg-ok opened #31 "Password policy not met? -> Unknown error"
## Bug report

### Steps to reproduce

1. Define password rules in Nextcloud backend (`/settings/admin/additional`; _here_ 6 chars, upper-/lowercase and number)
1. Use password in plugin which does not match requirements (e.g. _foobum_)
1. Compose mail, when asked to use Filelink, chosse upload.
1. Error message: "Unknown error": An unknown error occurred on data exchange with ... .

### Expected

[2017-07-10 09:38] guillaumev commented on #29
An error message should now pop up. Closing this, feel free to reopen if it's still not fixed on your side.

[2017-07-10 09:38] #29 closed

[2017-07-10 09:49] #30 closed

[2017-07-10 10:21] guillaumev commented on #21
This: https://github.com/nextcloud/nextcloud-filelink/commit/b87c0adb95ead574223d93ede18cc5ac0f89d5ac

should fix it. However, I wouldn't mind some more testing here, as I don't have an instance with a subdir available.

[2017-07-10 10:38] koug44 commented on #21
Works fine now. Looking forward to use it for real

[2017-07-10 12:26] #21 closed

[2017-07-12 12:19] fuzsin opened #32 "Does not work with spaces or point in the user name"
Many thank for this addon!

## Bug report

### Steps to reproduce

Working well for me with an easy user name or with user name with special character (like 'at' sign). But I get the error message: 'An error occurred while uploading xxx.pdf to mynextcloud' when the user name contains space or point.

### Server configuration

**PHP version:** 5.6.31

**Nextcloud version:** 12.0.0

### Desktop conf

[2017-07-17 08:53] gergap opened #33 "Setup account failed"
## Bug report

It is not possible to setup the account with my nextcloud instance.
It looks like the problem is that my nextcloud is running in a subfolder: https://mydomain.de/nextcloud

### Steps to reproduce

1. Add account in thunderbird preferences
1. Use the following settings:

ServerURL: https://mydomain.de/nextcloud
Port: 443
Storagepath: /Mail-attachments

Result: "An error occurred whil

[2017-07-17 13:16] e-alfred commented on #33
I think this might be related to this bug:

https://help.nextcloud.com/t/filelink-for-nextcloud-ng-not-working-with-custom-port/15561

[2017-07-17 15:41] deljones opened #34 "Changing server details and/or password"
## Feature request

**User level**: Beginners, intermediate or advanced

### Description
Editing your server details, changing the password etc... How?

### Benefit / value
Currently you have to delete your server in settings and redo them. Maybe an easier way to change the password?

### Risk / caveats

### Sponsorship

**Are you a developer willing to implement this feature?**: yes/no

**Can you

[2017-07-18 09:26] e-alfred commented on #33
As a temporary workaround, I installed "Owncloud for Filelink" version 1.4 which works well. It does not specifically ask for a port, which seems to be a problem. The port field was added in later versions.

[2017-07-18 09:26] Kaor commented on #22
same problem here with version 1.5

[2017-07-18 09:36] Kaor opened #35 "module update break configuration"
## Bug report

### Steps to reproduce

1. start thunderbird after updating filelink module

### Expected behaviour
work

### Actual behaviour
don't work, the configuration was deleted, like a new installation

### Desktop configuration

**Operating system**: Ubuntu 14.04

**Thunderbird version:** 52

**Updated from an older installation or fresh install:** updated

[2017-07-18 10:04] gergap commented on #33
The old version 1.4 works also for me. Thx for that tip.
I keep this issue open, though. Because the problem in the current version still exists.

[2017-07-18 10:49] guillaumev commented on #33
Thank you for your bug report. Can one of you check if the latest code of this github repository fixes this ? I believe I fixed this issue in my latest commit, but if one of you can make sure...

[2017-07-18 10:53] guillaumev commented on #22
@Kaor can you try reverting back to 1.4, then deleting the nextcloud provider from thunderbird, and then installing 1.5 again ? Let me know if this works, sorry for the inconvenience...

[2017-07-18 10:53] guillaumev commented on #35
@Kaor see my comment in #22

[2017-07-18 14:43] Kaor commented on #22
thanks for your answer,
where can i find 1.4 version ?

[2017-07-18 15:07] guillaumev commented on #22
Here: https://addons.mozilla.org/firefox/downloads/file/618765/owncloud_for_filelink-1.4-tb.xpi?src=devhub

[2017-07-18 19:03] mach-o commented on #33
@e-alfred: may I ask where you found version 1.4? I haven't yet transitioned from ownCloud to nextCloud (waiting for nextCloud to be bundled into a .deb file) but I'd like to keep using filelink in the meantime. Nextcloud-filelink doesn't seem to be backwards compatible with ownCloud, unfortunately. Thanks!

[2017-07-18 22:54] e-alfred commented on #33
@guillaumev I zipped the latest files in the src folder to an *.xpi, this works now. I have to omit the port from the address field though and insert it separately into the port input field. A bit awkward, but it works that way. It was a bit more intuitive before with without the separate port field. I could simply cut/paste the address.

@mach-o I have a very long running Thunderbird installation

[2017-07-20 12:21] elbarbudo commented on #33
None of the above solutions worked for me :
Got

The certificate is not trusted because the issuer certificate is unknown.
The server might not be sending the appropriate intermediate certificates.
An additional root certificate may need to be imported.
The certificate is not valid for the name ill67-4-78-225-115-104.fbx.proxad.net.

Error code: <a id="errorCode" title="SEC_ERROR_UNKNOWN_ISSUER">S

[2017-07-20 12:54] e-alfred commented on #33
I use a certificate from a trusted CA, which works. You should either change to something like Letsencrypt or add the certificate to the trusted certificate store.

Alternatively, this could be handled by the addon in the future?

[2017-07-24 09:54] adocampo commented on #33
Same error here. Specifying http instead https on the server URL, ask me for a password, but also fails. Using LE certificate here. Furthermore, I can't install old owncloud for filelink renaming the zip to xpi, it says the extension is corrupted. Some have it for me to try?

[2017-07-25 13:56] Kaor commented on #22
it works with 1.4 version, the configuration is here.
it's impossible for me to delete configuration, install version 1.5 and install new configuration on all my hosts,
too long and too complicated... sorry
We'll wait for new version who don't break configuration,
thanks

[2017-07-28 22:56] lars-becker opened #36 "Can't setup filelink after I deleted account to change passwords"
## Bug report

I experienced problems since a few month with the filelink plugin since I switched to 2FA. Today I tried to investigate since I always got the error message "can't communicate with nextcloud" (or something like that; can't reproduce it because of the following error).

I found the following in the server logs:

[code]

So the file was created (Status 201) but not the link (401).

Si

[2017-08-05 08:50] jreimone commented on #4
Thanks for this great addon. I also would appreciate if automatic addition of the password to the mail content was implemented. Maybe you could think over customizing the text template by using placeholders. Everybody could süecify it on their own.

[2017-08-10 17:09] setiseta opened #37 "Space recognition: user: unlimited shows 0 bytes free"
## Bug report

### Steps to reproduce

1. Set the configured user in nextcloud to unlimited space
2. Restart thunderbird, open the option tab and view the Free space.

### Expected behaviour

Should show unlimited or even disk space left on device or something else, but not 0 Bytes

### Actual behaviour

0 Bytes free space is displayed

### Server configuration

**Operating system**:
ubuntu

**Web

[2017-08-11 15:30] LibertatisPrius commented on #33
I am also unable to setup my Nextcloud instance in this addon. My Nextcloud is setup at https://myaddress.com/nextcloud. When I try to add it, it says "An error occurred while setting up the account!" I can get it to prompt for my password by changing the URL to "https://myaddress.com/nextcloud:443" but it will still not successfully add my server to the list.

I am running Nextcloud 12.0.1, Thund

[2017-08-14 08:29] sebastian-orlowski commented on #21
The fix works for me, too, with Nextcloud 11.0.0, TB 52.2.1. Thanks!

[2017-08-15 15:50] stefanheijnen commented on #33
I'm also unable to setup nextcloud-filelink.

My setup:
Installed in https://cloud.****.net/nextcloud/
Version: 12.0.0

Thunderbird 52.2.1 (64-bit) on Ubuntu 16.04 LTS
Nextcloud-filelink from https://addons.mozilla.org/en-US/thunderbird/addon/nextcloud-filelink/

Addon settings:

Provider: Cloud ***
Server url: http://cloud.***.net/nextcloud/index.php
Port number: 443
Username: <my username>
Stora

[2017-08-15 21:21] cweiske opened #38 "Rename "provider" field and make it optional"
## Feature request

**User level**: Beginners

### Description
The "Provider" field in the account setup is confusing for users. I first had to read all the other fields until I decided that "provider" is probably just the "title" for the account.

The field should be a) optional and at the end of the field list, and b) auto-filled with the domain sans scheme.

### Benefit / value
The account form

[2017-08-15 21:24] cweiske opened #39 "Get rid of "port" field in account setup form"
## Feature request

**User level**: Beginners

### Description
The port number in the account setup form is superflous in most cases and only complicates the form.

It should be possible to pass the port number in the "Server URL" field as it's done in browers: `https://example.org:8081`.

### Benefit / value
Account setup form is easier to grasp

### Risk / caveats
Users that need a special port

[2017-08-18 13:37] guillaumev commented on #35
Closing this for follow up in #22

[2017-08-18 13:37] #35 closed

[2017-08-18 13:40] guillaumev commented on #33
Version 1.6 is on its way in addons.mozilla.org, which should solve the issue with nextcloud instances located in subdirectories (see #21 )

[2017-08-18 13:44] #15 closed

[2017-09-05 09:00] GortiZ6 opened #40 "Thunderbird plugin v1.6 has wrong compatibility settings"
## Bug report
The plugin uploaded to Mozilla for version 1.6 has compatibility set for Thunderbird 17-45 while the current Thunderbird version is 52 and the plugin 1.5 has 17+ compatibility settings

### Steps to reproduce

1. Try to install Nextcloud-Filelink from Thunderbird 52 Add-on menu and the only available version is 1.5

### Expected behavior

1. Nextcloud-Filelink v1.6 available on the a

[2017-09-06 16:14] kewisch commented on #27
Any update on this?

[2017-09-06 16:40] oparoz commented on #27
@schiessle could you confirm (next week) that all files which are derivatives have to remain under the MPL license? Last time we talked, I was under the assumption that we were able to change the license to AGPL.

[2017-09-12 10:17] jancborchardt opened #41 "Change logo to white on blue"
The current logo with small icon and big text, as well as blue on white, is outdated. Please use these instead:
Logo ith text: https://github.com/nextcloud/promo/blob/master/nextcloud-logo.png
Icon: https://github.com/nextcloud/server/blob/master/core/img/favicon-touch.png

@guillaumev thanks! :)

[2017-09-27 14:52] GortiZ6 commented on #40
@guillaumev, @oparoz could you please recompile and submit a new version? This should be a quick task for you and it's already 22 days since my issue... unfortunately I can't fix this by myself and all the effort put on V1.6 is useless if nobody can install it :(

[2017-09-29 09:52] Judibet commented on #40
Hello,

I'm agree with @GortiZ6 because Nexcloud is avalaible for Thunderbird 52 but showed like not compatible.
You can check [this link](https://addons.mozilla.org/en-US/thunderbird/addon/nextcloud-filelink/) to test.

[2017-09-29 12:27] guillaumev commented on #40
Ok version 1.7 has been submitted to addons.mozilla.org for review. It should appear soon hopefully... Sorry for the late reply on this...

[2017-09-29 12:27] #40 closed

[2017-09-29 12:48] oparoz commented on #40
Just got the mail from Mozilla that it has been approved. Thanks @guillaumev

[2017-09-29 14:09] GortiZ6 commented on #40
I confirm that it's now available on Thunderbird. Thanks

[2017-10-05 16:29] csab1915 opened #42 "free disc space = 0"
Hi there,

unfortunately, I have an issue which I could not solve. FREE SPACE = 0 GB
![screenshot](https://user-images.githubusercontent.com/16115672/31238714-6e787f3a-aa03-11e7-8f26-938dac25cb4b.png)
For this reason, I cannot upload any file :-(

Unfortunately, all the suggestions I found so far did not solve the issue. Any ideas? Thanks a lot!

[2017-10-05 16:57] j-ed commented on #36
I'm using the a two factor authentication too with NC 12.0.3 and had to setup a **dedicated app password** for the add-on to get it working (Personal->Security->Create new app password). Additionally  you have to make sure that the **Allow file system access** option is ticked in the ...-menu of the app entry.

[2017-10-05 17:06] j-ed commented on #22
I couldn't replicate this problem anymore with TB v52.3.0 (Win7) and Nextcloud for Filelink v1.7, everything works as expected.

[2017-10-05 17:09] j-ed commented on #17
@dab0u You should check the content of the Nextcloud log file for further information. It helped me identifying a configuration problem as I first installed the add-on. Tested with Nextcloud 12.0.3 and Nextcloud for Filelink v1.7.

[2017-10-05 17:59] j-ed opened #43 "An unknown error is shown although the file upload was successful"
## Expected behavior
When uploading an attachment with the app the upload process should end without running into an error condition.

## Current behavior
As I uploaded files of a size of appr. 5 MB and 10 MB the following message was shown and the upload process aborted:

![2017-10-05 19_53_32-error](https://user-images.githubusercontent.com/2572764/31242425-4f35bd1e-aa07-11e7-854b-eefc176453bb.p

[2017-10-05 18:03] j-ed commented on #3
I've just tested Nextcloud for Filelink v1.7 with Thunderbird 52.3.0 and a request to use the Filelink function was always shown when the file size exceeded the limit.

[2017-10-05 18:09] j-ed opened #44 "check file upload threshold against all selected files"
## Expected behavior
The configured file upload threshold should always be checked against all selected files and not only single files.

## Current behavior
If you've set the upload limit to e.g. 2MB and select three files with a total size of 3MB the upload request will not be triggered.

## Steps to reproduce
1. Open Thunderbird and create a new message
2. Select multiple files which together e

[2017-10-06 06:44] #22 closed

[2017-10-11 12:58] nilsbecker commented on #43
i see the same behavior, thunderbird on os x sierra. file upload is successfull but i get an error message, and no file link is created in the email message

[2017-10-11 13:02] nilsbecker commented on #43
ah, my error is resolved now. in the password dialog when adding the account, one has to give the user account password for nextcloud. i thought that was an arbitrary new password to share with recipients of the files

in general i think some minimal documentation of the account setup is necessary. best would be on the plugin homepage

[2017-10-11 13:12] nilsbecker commented on #43
scratch the last comment. it appears i was right the first time. i observe this behavior

1. if i create a filelink account with my nextcloud user password in the fielt 'password for uploaded files' i can successfully create shared links.
BUT then my nextcloud password is needed for downloading the files

2. if i create a filelink account with an arbitrary password, i get 'unknown error' messages.

[2017-10-11 13:14] nilsbecker commented on #38
+1 i, too was confused! it's totally unclear what to put there without explanation.

[2017-10-11 13:16] nilsbecker commented on #4
i fail to see how generating a random password and distributing it together with the link is more secure than just requiring no passord?

[2017-10-19 10:23] yennor opened #45 "Give the option to not directly download files, but show them in the browser"
It would be great, if for example for pictures not a download link, but just a normal link to the picture would be inserted in the mail, so that the receiver can look at the pictures directly in the browser, instead of downloading them all.
I can imagine severall solutions to achieve that:
- ask when uploading the files to nextcloud if a download or normal link should be send
- have a setting wher

[2017-10-19 10:27] yennor opened #46 "for each mail create a subfolder and share a link to the subfolder instead of to every single file"
Instead of uploading the files for every mail in the same folder, it would be nice, if the plugin could create for each mail a subfolder, upload all the files into that subfolder, share that subfolder and then in the mail only send the link to that subfolder. so if it are pictures or similar files, the user can look at them all together. Or decide to download a zip archive with all the files toget

[2017-10-20 13:44] guillaumev commented on #36
I believe @j-ed provided a solution here, so I'm closing this issue.

[2017-10-20 13:44] #36 closed

[2017-10-20 13:45] guillaumev commented on #17
Closing this. Feel free to reopen if there is still an issue.

[2017-10-20 13:45] #17 closed

[2017-10-27 11:26] vasyugan opened #47 "Network error while setting up account"
## Bug report

Yesterday I set up a filelink for Nextcloud just fine and used it once. Today, when using it, it suddenly reported  that it was "unauthorized", but clicking "authorize" in the settings did nothing for me.

Then I deleted the account and tried to set it up again, again it did not work, restarted thunderbird and again to no avail.

Verified that my Nextcloud is up and running, also ch

[2017-11-20 10:42] berger-anthony commented on #43
same issue
upload is OK
but no link generated

error occured : 401 unauthorized

20/Nov/2017:11:38:18 +0100] "POST /ocs/v1.php/apps/files_sharing/api/v1/shares?format=json HTTP/1.1" 401 936 "-" "Mozilla/5.0 (X11; Linux x86_64; rv:52.0) Gecko/20100101 Thunderbird/52.4.0 Lightning/5.4.4"

[2017-11-20 10:57] berger-anthony commented on #43
for me, this was due to the password policy
the password entered in the plugin must match the policy (8 character for me)

[2017-11-21 10:57] walhallaRV commented on #43
Same issue here with the same error (Unknown error ...). With let's encrypt and without SSL. Really would be great to have this add-on working because I have to send many emails with big attachments.

Add-on: 1.7
Thunderbird: 52.4.0
OS: Windows 7 Pro (with latest updates)

[2018-02-08 14:56] si-wi opened #48 "nextcloud-filelink does not work properly when attaching network files"
## Bug report
Bug report
### Steps to reproduce

1. write an email and attach a file located on a network path (\\node\share\...)
1. the link is generated and inserted into the email
1. send the email

network path is a folder shared by windows 10 (from another computer in the local network)

### Expected behaviour
 The email is sent with a download link and not with an attached large file
### Act

[2018-02-28 09:05] nickvergessen opened #49 "Change user agent"
The user agent should be changed to `Mozilla/5.0 (<Operating System>) Nextcloud-Thunderbird v<Version>` as per:
https://github.com/nextcloud/files_automatedtagging/issues/48#issuecomment-368867283

[2018-02-28 09:11] oparoz commented on #49
Can probably be fixed by adding an extra header here:
https://github.com/nextcloud/nextcloud-filelink/blob/master/src/components/nsNextcloud.js#L442

[2018-02-28 09:16] nickvergessen commented on #49
Well logon is not that important, but especially upload of the file is.

But yeah should just change it for all

[2018-02-28 09:24] oparoz commented on #49
OK, then here:
https://github.com/nextcloud/nextcloud-filelink/blob/master/src/components/nsNextcloud.js#L805

[2018-03-02 22:35] kb-git opened #50 "Can't login after while"
Hello,
first of all I would like to thank you for your work. Nextcloud-filelink is great extension.

I have a issue with login. When i start Thunderbird, everything works fine. But after while, thunderbird say Unable to login: In my nextcloud_access_log:

127.0.0.1 - kb [02/Mar/2018:22:51:33 +0100] "GET /ocs/v1.php/cloud/user?format=json HTTP/1.1" 200 358
127.0.0.1 - kb [02/Mar/2018:22:51:33 +0100

[2018-03-05 12:25] tomas-chrastina opened #51 "More options for filename generation"
Hello,

currently filename of uploaded file is generated as:

`<timestamp>_<original_name>`

This can be problem due to different name in e-mail and downloaded file. Also original filename is concatenated as suffix, which made it harder to find due to timestamp etc.

So it would be nice to have few more options to set a way, how filename would be generated:

* use some pattern/tags to define uploa

[2018-03-11 08:55] kernie commented on #4
Hi,
would like to revive this thread.

As for now, this tool works quite well for me, but I could imagine a more refined functionality:

1) More than one Nextcloud Filelink Provider ( private / professional instance); not topic here....

2) Nextcloud file link with one time password included (written into mail for comfort, which seems  no security issue to me when mail is encrypted); the OCS api a

[2018-04-09 07:56] biva opened #52 "Directly send the link if already synced with Nextcloud"
## Feature request

Today, if I want to send a document that is already synced on NC, it copies it in the MailAttachment folder, and then sends the link.

It should recognize if the file is already in a folder synchronized by Nextcloud, and only create and send the link, without copying the file in the MailAttachment folder.

[2018-04-15 16:30] franklupo opened #53 "More nextcloud"
Hi,
I have more nextcloud. How can I configure them?

Best regards

[2018-04-18 14:34] MorrisJobke commented on #49
@oparoz @nickvergessen Any news on this?

[2018-05-01 20:12] kewisch commented on #27
Still waiting on a response here. Can we bring this issue to a close?

[2018-05-01 20:46] schiessle commented on #27
sorry that it took me so long to response here.

@kewisch you are right. The MPL is a GNU (A)GPL compatible license as as such it can be used for Nextcloud apps. But the files licensed under the MPL will of course stay under the MPL. Changes to files licensed under the MPL could be labeled as dual licensed MPL/AGPL or just MPL (would be my recommendation to keep it easy). New files can be licensed

[2018-05-02 09:10] schiessle commented on #27
I just realized now, that it is about the Thunderbird plugin and not about a Nextcloud app. I shouldn't answer github issues that late in the evening :wink:

So please ignore the part of the AGPL and the compatibility. In this case I would just stick to the MPL for the whole addon to keep it easy.

[2018-05-03 16:12] Jeffrey-P-McAteer commented on #47
I am seeing an identical issue in version 1.7
![scrot_1162x140_12_11_58](https://user-images.githubusercontent.com/15269507/39589072-339feebc-4ecb-11e8-9ec3-40490181eda4.jpg)

[2018-05-04 17:15] jamfx opened #54 "Feature Request: New Password each time a File is sent / uploaded"
Hi,
it would be great if EVERY TIME I send a File via FileLink, the Sender is asked to provide type a password for the Recipient.
Even better: The Password is asked for the Recipient once and then connected to the Recipient. Next time I send a File to the same Recipient, the once used Password is suggested OR can be changed.

So I hope, this is a possible Feature. It would push security to a highe

[2018-05-10 16:06] creopard commented on #42
Have you also tried to set a fixed quota ("Kontingent") for each user, (e.g."10 GB") instead of "standard" or "unlimited"?

[2018-05-10 16:43] creopard commented on #42
see also https://github.com/nextcloud/nextcloud-filelink/issues/37

[2018-05-10 16:48] creopard commented on #39
The separation of the field is actually useful and by default its "443".
Most (new) users might forget the port on the initial setup and nowadays (thanks to Let's Encrypt) the default value is almost true in every case.

[2018-05-10 17:05] creopard commented on #52
@biva: if you already have the Nextcloud client at hand you could also generate the link there and just paste it in Thunderbird. Thats even faster and optionally password protected.

I could imagine that such a mighty feature request within the filelink-addon would be rather complex, slow and prone to errors.

[2018-05-10 17:13] creopard commented on #48
This is actually a bug of the filelink component of Thunderbird itself:
https://bugzilla.mozilla.org/show_bug.cgi?id=793118

So, a workaround is to mount the network share as a drive.

[2018-05-10 17:35] creopard commented on #47
Same here with v1.7.
Although the click on the button "authorize" succeeds and the details are shown correctly, Thunderbird displays an error in the JS console?!
![grafik](https://user-images.githubusercontent.com/14175483/39884094-f785fc0a-5488-11e8-9930-ef81cc7cec2d.png)

[2018-05-11 07:34] adi-dev opened #55 "Compatibility with Thunderbird 60.0"
It's more a feature request than an issue at this moment because the tested version of Thunderbird is in beta state, 60.0 but I can see this will become a problem in the future. Thunderbird just refuses to use this add-on. Unless there is any other reason, can someone have a look at this?

[2018-05-11 08:28] creopard commented on #55
Do you mean you can't select the nextcloud filelink in the dropdown any more, where "box.com" is the default option? Canit be related to the TB issue fixed here (scheduled for TB61):
https://bugzilla.mozilla.org/show_bug.cgi?format=default&id=1451280

[2018-05-13 07:46] adi-dev commented on #55
The issue is that the TB doesn't allow to install (or activate) filelink extension as it's not compatibile with "this version of TB"
![screenshot1](https://user-images.githubusercontent.com/7880069/39965058-c9b14c0a-5689-11e8-9b21-aa6f55f78252.png)
![screenshot2](https://user-images.githubusercontent.com/7880069/39965057-c9963492-5689-11e8-8c09-b44047ea7108.png)

[2018-05-13 08:05] jamfx opened #56 "Unknown Error while uploading - no insert of text"
## Bug report
### Steps to reproduce

1. Attach a File in Thunderbird
2. Push button for "Upload with filelink"
3. See unknown error

### Expected behaviour
File uploaded without error, Text in E-Mail with instructions for Download

### Actual behaviour
There is shown an Errormessage "Unknown Error while uploading", **but**  the file is uplaoded to my Nextcloud.

### Server configuration
**Operati

[2018-05-15 12:59] biva commented on #52
@creopard Yes, this is what I do now, but this represents 7 or 8 clicks, and to add `/download` at the end of the link :( While moving a file to the message editor is only 2 clicks.

[2018-05-18 20:29] jamfx commented on #56
I will check this with a harder Password. And will report here.

[2018-05-19 06:44] splitt3r commented on #56
#31 seems to be related.

[2018-05-19 10:06] jamfx commented on #56
So I can report back now:
YES: If you use a "better" Password (than I used before), FileLink works as expected. So please change the Error-Message to something more explicit or even better, don't accept a weak Password while configuring Nextcloud. That would help not to fall into this trap.
Best regards and thanks to @datavizzard for the hint!

For me: case closed.
JamFX

[2018-05-19 10:06] #56 closed

[2018-05-23 18:35] datavizzard commented on #56
Maybe a developer could look at it and on #31 anyway because the part with the password is very tricky for basic users and its not easy to solve it.

[2018-06-01 10:22] oparoz commented on #27
So, how do we proceed since some code has already been released under the AGPL?

[2018-06-06 07:40] TKaluza commented on #55
But you can just use the github version and install it manually.
That should work

[2018-06-06 07:53] adi-dev commented on #55
I tried that before, and again just now downloading latest copy from github, zip contents of src, rename the zip file to xpi extension and.. tb still refuses to install this. Any thoughts? Can I help in any way?

![screenshot-20180606](https://user-images.githubusercontent.com/7880069/41024408-0f4c350a-6967-11e8-9fca-e311b3f0e66b.png)

[2018-06-06 09:19] creopard commented on #55
Installing it manually in TB 60 requires to edit the file "install.rdf" in the ZIP package from
`<em:maxVersion>57.*</em:maxVersion>`
to
`<em:maxVersion>60.*</em:maxVersion>`

(However I don't know if the addon still works with TB 60 or if there were any changes to the filelink functionality itself in TB 60.)

[2018-06-06 09:49] adi-dev commented on #55
@creopard you right, it installed all right now but it wont let me set up a new account. I have removed the old one (as it existed in the config) and gone to re-create it. The button "Set up Account" on the "Set up Filelink" dialog box doesn't seem to work. It's enabled but it doesn't response on clicking.

[2018-06-14 08:41] csab1915 commented on #42
You were right: 10 GB instead of unlimited solved the issue. Now it works. Many thanks!!!

[2018-07-02 14:33] NanoPolymer commented on #54
If you would add this to filelink, another option would be to just create a random password each time you upload a file and show it to the user when they uploaded the file, just like the nextcloud plugin for outlook.

[2018-07-06 13:18] schiessle commented on #27
We have 6 contributors. Should be possible ti get their approval:

We need a approval from:

@oparoz
@jospoortvliet
@nickvergessen
@guillaumev
@tbille
@c4539

Please comment below if you agree to relicense the whole plugin under the MPL. Thanks!

[2018-07-06 13:20] nickvergessen commented on #27
I agree that the whole plugin is relicensed under MPL

[2018-07-06 13:37] oparoz commented on #27
I agree that the whole plugin is relicensed under MPL

[2018-07-06 13:53] guillaumev commented on #27
I agree that the whole plugin is relicensed under MPL

[2018-07-06 14:28] c4539 commented on #27
I agree that the whole plugin is relicensed under MPL

[2018-07-06 14:55] jospoortvliet commented on #27
I agree that the whole plugin is relicensed under MPL :+1:

[2018-07-19 08:45] oparoz commented on #27
Ping @tbille ;)

[2018-07-19 08:50] tbille commented on #27
Sorry for the late answer

I agree that the whole plugin is relicensed under MPL

[2018-07-19 08:53] oparoz commented on #27
Awesome, thank you all.

[2018-07-21 16:56] Moimemeici opened #57 "Modify Text on mail"
Hello,
sorry for my stupid question.
I need change the Text, where is the file for change Text and color ?
Thank you,
Best regards,
![filedrop](https://user-images.githubusercontent.com/19207283/43038333-c57032fe-8d17-11e8-9b9f-7ab88a687b82.JPG)

[2018-07-23 09:40] MontyZuma commented on #55
Had the problem with Set up Account, too. Got it fixed by using the config editor (https://support.mozilla.org/en-US/kb/config-editor): search for mail.cloud_files and reset all configuration for your nextcloud/owncloud account.

After that I was able to set up a new nextcloud account without problems.

[2018-07-23 14:18] adi-dev commented on #55
Ok, tried once again, two errors:
[code]
[code]

[2018-07-24 20:07] oparoz commented on #27
@schiessle - Next step is to create a PR to change all the headers?

[2018-07-27 19:08] bipox opened #58 "Setting up new account, crash (I think), no more providers in drop-down menu"
Hello,

I was setting up my account when I entered my password in the password field under username (without realizing it's for future uploaded files, not the account - account login comes later...) and when prompted on the next page to enter my password I realized my mistake.

I think I hit cancel, and I think it crashed. I wasn't paying much attention, sorry.

Now it did create the folder /mail-

[2018-08-08 10:18] nickvergessen commented on #49
:ping_pong:

[2018-08-09 11:29] thelightsense opened #60 "Feature request force upload to nextcloud - not show you can use it ... only use it!"
## Feature request
force upload to nextcloud - not show you can use it  ... only use it!

### Steps to reproduce

1. set max Filesize to zero
1. thunderbird forces the upload to nextcloud and did not ask for upload
1. click send, the mail with the link is sending ..without asking about upload

[2018-08-26 10:45] boycott-github commented on #58
I have the same problem, with Thunderbird 52.

[2018-09-12 14:57] bastien30 commented on #55
Hello,

Any news regarding this add-on update ?

Thanks.

[2018-09-18 06:33] dewoller commented on #43
Thanks @berger-anthony !  For me too, I got an error message ( "Unable to upload FILEXXX to SERVERNAME").  The file uploaded ok, but then would not share due to the password policy on the owncloud server (cloudstor.aarnet.edu.au).

In this case, I needed 11 characters, uppercase, lowercase, and special characters.

[2018-09-19 14:38] ediazcomellas opened #61 "New release of nextcloud-filelink needed with support of latest Thunderbird and Nextcloud14."
## Feature request

**User level**: Beginners

### Description

Make a new release, compatible with Thunderbird 60 and Nextcloud 14, and publish it to the Thunderbird plugin repository.

### Benefit / value

Current state is useless for end users. A new release is needed.

### Risk / caveats

### Sponsorship

 Will place a bounty in bountysource.

**Are you a developer willing to implement this fe

[2018-09-19 14:42] ediazcomellas commented on #61
I've just posted a $150 bounty on this issue.

[2018-09-19 15:07] Somebodyisnobody commented on #61
I join with 100$

[2018-09-19 15:30] #55 closed

[2018-09-19 15:37] bonanza123 commented on #61
See also https://github.com/nextcloud/nextcloud-filelink/pull/59

[2018-09-20 09:21] guillaumev commented on #61
I just sent some code to the master branch, which should fix the password issue and also fix the file upload issue (I'm not yet sure it fixes the space issue however). Could some people try it and let me know ? Thank you

[2018-09-20 09:51] NDev8 commented on #61
I am also currently working on a solution, at the moment I have successfully fixed the space screen issue and other minimal bugs. I’ll test the solution further more and will make a pull request today if it all works.

[2018-09-20 10:11] ediazcomellas commented on #61
@guillaumev  The latest plugin you sent me worked without problems in Thunderbird 60/windows.

[2018-09-20 10:11] guillaumev commented on #61
Actually I just pushed some other changes to fix the space display issues (see https://github.com/nextcloud/nextcloud-filelink/commit/278431675ebd0228816c66afa0c0ce6f2e0c9285)

[2018-09-20 10:12] guillaumev commented on #61
Thank you @ediazcomellas If another person can also confirm, I think I'll push it to the thunderbird addons this afternoon

[2018-09-20 10:14] NDev8 commented on #61
Yes, that is also what I had changed to get it working.

[2018-09-20 10:16] ediazcomellas commented on #61
Actually, the file upload an link works, but not the used space.
![image](https://user-images.githubusercontent.com/3808234/45812016-ecfba600-bcce-11e8-9cbc-a029376cb14c.png)

[2018-09-20 10:52] creopard commented on #61
it's the same issue as reported on August 8th:
https://github.com/nextcloud/nextcloud-filelink/pull/59#issuecomment-411322302

[2018-09-20 11:15] NDev8 commented on #61
I have made a pull request which should solve the issue:
#62

[2018-09-20 12:37] ediazcomellas commented on #61
It seems to work with the latest patch.

I am testing it against NC13. Any experience in NC14?

![nc](https://user-images.githubusercontent.com/3808234/45818658-a6b04200-bce2-11e8-8b21-2e7744ab93e2.jpeg)

[2018-09-20 12:40] NDev8 commented on #61
Yes, I tested it with NC “14.0.0”.

[2018-09-20 13:36] guillaumev commented on #61
@NDev8 I just tested your PR and I wasn't able to successfully upload to NC 14. I get an error message "Impossible to upload to Nextcloud". I'm using Nextcloud 14 test instances from https://demo.nextcloud.com...

[2018-09-20 13:46] NDev8 commented on #61
I have a local NC 14 instance and it works just fine, maybe it has to do with the test instance. Can you please test it with a full install of nextcloud or provide some more detail about the error and an error log if available?

[2018-09-20 14:04] guillaumev commented on #61
@NDev8 I merged your changes but won't send the new addon to Thunderbird until at least one other person can confirm that everything works fine with NC 14

[2018-09-20 14:07] NDev8 commented on #61
Ok, thanks. At the moment I try to find the bug and fix it, so that it works also with the nextcloud demo.

[2018-09-20 15:04] NDev8 commented on #61
I have made a new pull request that works with NC14 demo instances. It had to do with the security Feature of the nextcloud demo webserver to prevent CSFR (Cross-site request forgery):
#63

[2018-09-21 11:34] Somebodyisnobody commented on #61
@ediazcomellas I tested the forked repo from @NDev8 yesterday after his second commit e7f4f383f9d071a79f49545a2961fba33a774038 with NC 14.0.0 whish is now merged.
Could you also test the current state from (now from this repo) on your nextcloud 13 to get it to the mozilla store?

[2018-09-21 11:51] ediazcomellas commented on #61
Sure. Give me 1 h.

[2018-09-21 13:46] ediazcomellas commented on #61
I tried to pack the plugin (made a zip, renamed it to .xpi), installed in TB60 but NextCloud no longer appears as an option for filelink. It is the first time I try to pack a plugin, so I am quite sure I messed it.

Can you provide a ready to install xpi?

[2018-09-21 20:47] Somebodyisnobody commented on #61
Hmm it still works on my client (now with the merged files from this repo)
Do you have restarted after installing? Stupid question but is the Addon enabled? I copied the folder "src" into the zip by mistake instead of the contents of "src".

[2018-09-25 11:57] guillaumev commented on #61
I sent a new version (1.8) of the addon to Thunderbird just today. Waiting for the review from the Thunderbird team but it should be live relatively soon I hope.

[2018-09-25 15:57] SISolutions commented on #61
Nice , thanks.

On Tue, Sep 25, 2018, 14:57 Guillaume Viguier-Just <notifications@github.com>
wrote:

[2018-09-25 18:02] ediazcomellas commented on #61
Thanks very much!!

El 25 de septiembre de 2018 18:07:04 CEST, John Pagourtzis <notifications@github.com> escribió:

--
Eduardo Díaz Comellas
ediaz@ultreia.es

[2018-09-26 15:08] NDev8 commented on #61
Nice, I think now the issue can be closed, since four people have tested the addon without a problem.

[2018-09-26 16:53] ediazcomellas commented on #61
I agree. Does anybody know how to release the bounty? Who should receive it? I am novice in this bountysource thing.

[2018-09-26 17:50] NDev8 commented on #61
The bounty can only be Released if the issue is closed. Then developers which had started a solution before can claim the bounty, but first the backers must agree that the developer had done the work as requested before the developer gets the bounty.

[2018-09-26 17:51] Somebodyisnobody commented on #61
@ediazcomellas I think we need to close the issue to release it.

Just to conclude:
@guillaumev coded something to get it running again https://github.com/nextcloud/nextcloud-filelink/issues/61#issuecomment-423126379 while  @NDev8 solved it also parallel.

Then https://github.com/nextcloud/nextcloud-filelink/issues/61#issuecomment-423127753 (same issue as #59 ) was a problem. Ndev8 solved that wit

[2018-09-26 18:45] ediazcomellas commented on #61
Ok. Please close it.

El 26 de septiembre de 2018 19:51:28 CEST, Somebodyisnobody <notifications@github.com> escribió:

--
Eduardo Díaz Comellas
ediaz@ultreia.es

[2018-09-27 04:46] #61 closed

[2018-09-27 23:54] almereyda commented on #61
I suggest to leave this issue open, until the Add On is actually available for the public via https://addons.thunderbird.net/thunderbird/addon/nextcloud-filelink/

[2018-10-02 07:57] guillaumev commented on #61
The new addon is now available at https://addons.thunderbird.net/thunderbird/addon/nextcloud-filelink/.

[2018-10-02 08:06] adi-dev commented on #61
Congrats! This is live! First filelink add-on on Tunderbird 60 😄 👏 🍻

[2018-10-02 13:07] SISolutions commented on #61
Congrats and thanks

On Tue, Oct 2, 2018, 11:06 adi-dev <notifications@github.com> wrote:

[2018-10-02 14:33] ediazcomellas commented on #61
Good Job! Thanks very much.

[2018-10-03 17:40] NDev8 commented on #61
Nice to see that it is working and is now online in the Thunderbird Add-On registry. Also, thank you very much for accepting the claim.

[2018-10-05 11:10] jamfx commented on #43
I got the same here. But it's new. It worked long time.
I don't know if anything changed at all, but since today, the error message "unknown error" is shown. Attachements where uploaded correctly, but the error is shown... :(
NC 14.0.1.
Thunderbird 52.9.1
Linux Mint 19 - latest Patchlevel

[2018-10-06 20:12] blu-IT commented on #58
I have this issue to since I deleted the account in filelink and wanted to set it with a new user/password. The dropdown menue does not show any provider or something else.

Nextcloud for Filelink 1.8 and Thunderbird 60.2.1 (64-bit)

Regards

[2018-10-06 20:43] blu-IT commented on #58
@bipox Thanks for your hint regarding `prefs.js`!

I checked my `prefs.js` and found there only one (obviously old) entry:

`user_pref("mail.cloud_files.accounts.account1.displayName", "My Nextcloud");`

but a complete set should look like this:

[code]
I renamed my original `prefs.js` for backup, started TB again and the dropdown was shown. After setting up the data for filelink access, looked in

[2018-10-30 15:01] setiseta commented on #37
Seems outdated, on actual version space recognition seems to work.

[2018-10-30 15:01] #37 closed

[2018-11-05 12:26] ghwtb opened #64 "Problems with Filelink for Nextcloud"
@all

Ich habe leider ein Problem mit Filelink for Nextcloud.

Nachdem ich Thunderbird auf die Version 60.3.0 geuptatet habe, bekomme ich für das Addon Filelink for Nextcloud folgende Fehlermeldung:

Beim Hochladen von (Dateiname) trat ein Fehler auf.

Tatsächlich wird jedoch die Datei in das vorgesehene Verzeichnis von Nextcloud upgeloaded, jedoch wird der Link in der Mail nicht erstellt.

Ich ha

[2018-11-06 20:46] alfredbuehler commented on #64
I have the same issue. With v1.7 everything works fine, v1.8 gives an authentication error. I'm on ownCloud,

[2018-11-06 21:55] creopard commented on #64
Your problem(s) seems to be already mentioned at #43
It could refer to the password policy, i.e. weak password used.

[2018-11-07 09:34] alfredbuehler commented on #64
Thanks for the reference.
I dont know of any  password policy in effect.

[2018-11-07 14:39] ghwtb commented on #64
@creopard

Vielen Dank. Dein Hinweis war der richtige Treffer. Ich habe mein Passwort nunmehr auf 11 Zeichen erhöht .... und tatsächlich ..... es funktioniert.

In der Beschreibung sollte dieses Problem aufgenommen werden, damit andere Benutzer keine langwierigen Untersuchungen machen müssen.

Viele Grüße

@creopard

Many Thanks. Your hint was the right match. I have now increased my password to 1

[2018-11-07 14:39] #64 closed

[2018-11-08 06:57] kyak opened #65 "Unable to authenticate with Owncloud"
## Bug report

### Steps to reproduce

1. Try to set up Filelink.

### Expected behaviour

Account should be set up and quota information should appear.

### Actual behaviour

Account has been added, but "Your authorization is required in order to see the settings for this storage service".

When clicking the "Authorize" button, I'm able to enter the password, but the message "Your authorization i

[2018-11-08 08:45] creopard commented on #65
I guess, we had that issue just yesterday: https://github.com/nextcloud/nextcloud-filelink/issues/64#issuecomment-436644238

[2018-11-08 14:50] kyak commented on #65
That's probably something else. My password is longer than 11 characters.
One thing, though. My username contains spaces (don't even ask why :( ). Could it be an issue?

[2018-11-10 21:16] michaelletzgus commented on #65
The URL scheme for getting the quota info is different for owncloud 10.10 it is like this:
`https://server.de/ocs/v1.php/cloud/users/username?format=json`

For nextcloud:
`https://server.de/ocs/v1.php/cloud/user/?format=json`

Both of them need auth, of course.

I think it would be only a small change do distinguish betwewn owncloud and nextcloud.
A "BOTHcloud-filelink" would be nice. :)

[2018-11-13 12:16] bastien30 commented on #65
Hi,
I've tried to update source code to match the URL scheme described by michaelletzgus.
Now, the account is successfully added to Thunderbird, with quota display.

But linking attachment when composing mail does not works : the file is successfully uploaded to owncloud but in Thunderbird a popup say "Impossible to upload <file> to <provider> (with <file> and <provider> according to the account,

[2018-11-13 13:38] bastien30 commented on #65
I got it to works, here is the changes I've done into nsNextcloud.js file :
[code]

[2018-11-13 14:54] kyak commented on #65
So there is at least to problems here.

@creopard thanks for the hint; I'll work it out how to change my username. @bastien30 nice, but do I understand correctly that this patch won't be accepted because it will break things for nextcloud users?

[2018-11-13 15:01] bastien30 commented on #65
Yes you understand correctly, I've juste provided the changes I've done to make the extension works with Owncloud, but it breaks compatibility with Nextcloud.
It's just to have a workaround solution until the extension is updated.

[2018-11-17 10:03] michaelletzgus commented on #65
I'm using
`https://server.de/ocs/v1.php/cloud/users/username?format=json`
only in
`_getUserInfo: function nsNc_getUserInfo (successCallback, failureCallback)`

The logon function
`logon: function nsNc_logon (successCallback, failureCallback, aWithUI)`
works as it is for both, ownclod (sciebo) and nextcloud.

Michael

[2018-11-18 12:59] michaelletzgus commented on #65
Accidentally committed to master, please check...

[2018-11-20 04:31] kyak commented on #65
@michaelletzgus I've tried this commit https://github.com/nextcloud/nextcloud-filelink/commit/28d2a9bf8576a4e59941f63399d18bddc25b4d12 and it works fine with Owncloud!

Thank you!

[2018-11-27 16:39] schmueller opened #68 "Feature request: More than one Nextcloud account in a single thunderbird profile"
</details>

## Feature request

As a user I would love to have more than one nextcloud-filelink account in one thunderbird-profile.

### Description
In a single Thunderbird-Profile it is only possible to configure one Nextcloud-Filelink account.
I need more than one, so I had to create a second profile and configure it there.
It is not user friendly to have to swap profile just to swap nextcloud-f

[2019-01-04 11:36] stovesy opened #69 "Attachment remains after linking"
TB Version 60.4.0 (32-bit)
FileLink Ver 1.8

After a successful link, the attachment remains in the attachments box, and the email message contains the attachment and has a multi megabyte size.

Thanks

[2019-01-27 12:56] kowjens opened #70 "Can only select "Box-Account" no Nextcloud possible"
## Bug report
When I try to setup a second Nextcloud Account. It doesn't show any Service, only "Box"
### Steps to reproduce

1. Goto Setup -> Attachments (I've German, sorry if my translated Menus doesn't fit 100%)
2. Click Button "Add.."
3. here I can only select a new account via"Box"

### Expected behaviour

I should get a dialogue to add my nextcloud or any other service??
### Actual behaviou

[2019-01-27 16:42] manu-p commented on #70
Hi, same for me.

Tbird 60.4.0 (64 bits) on Ubuntu 18.04.1 and Nextcloud for Filelink 1.8.

I can add that having an already set filelink on a nextcloud server, this is working.
I just wanted/needed to set up another filelink to another nextcloud server and I don't find nextcloud in the list, only "box" is displayed. :-/

[2019-01-27 17:30] alfredbuehler commented on #70
Not sure, but I think this is by design. You can only add one connection for each category.
See  issue #68

[2019-01-27 17:36] manu-p commented on #70
@alfredbuehler thanks for the info and link, I might try to delete the existing one to check it out, but what if I still can't find any nextcloud possibility in the list for Filelink?...

[2019-01-27 17:47] alfredbuehler commented on #70
In Thunderbird: _Edit -> Preferences -> Advanced -> Config Editor_.
Search for _mail.cloud_files.accounts_, and delete any unwanted account.

[2019-01-27 17:56] manu-p commented on #70
Sorry, I may not have been clear @alfredbuehler.
I'm not facing issues to delete a nextcloud filelink account, but fear I might not be able to create again a nextcloud account after deleting the one I had, according to this here issue.

[2019-01-27 18:03] alfredbuehler commented on #70
OK I misunderstood, Sorry.

[2019-02-01 06:14] kowjens commented on #70
Hi everybody,

thanks for your input.
I backuped my Thunderbird profile and tested after deleting the already set Nextcloud-Account ...
It works and shows box and Nextcloud to select :)

So it is related to  issue #68 (thx @alfredbuehler)

I'll close this as solved and hope that multiple accounts will be implemented in future ...

thanks everybody and nice weekend ..

[2019-02-01 06:14] #70 closed, assigned to nobody

[2019-02-08 06:14] michag86 opened #71 "Add an option for share link expiration"
I don't want to keep all my mail attachments in nextcloud forever. It would be useful if there was an option to set an expiration period. And if the recipient would also receive information about it, that would be great. :smile:

[2019-02-08 10:35] alfredbuehler commented on #71
Same here. This is why I created this PR https://github.com/nextcloud/nextcloud-filelink/pull/67 some time ago.

Initially I also wanted to modify the comment that is appended to the mail, mentioning the expiration exact date. Didn't find a solution for this yet.

[2019-03-07 17:15] jamfx opened #72 "Unknown Error - another reason found!"
Hi @ all,
I just found out:
If you use Lightning with an online Calendar in the same Nextcloud and of course you have provided an Username and Password for them. You HAVE TO use the SAME Account for the use of Filelink. Allthough you get no Error Messages while configuring FileLink and it connects to your NC, you will not be able to share the file an an E-Mail.

**Example:**
TB + Lightning with Ac

[2019-03-07 18:47] alfredbuehler commented on #72
You're right, its a well known TB design weakness, that the password manager uses the server address to identify a credential entry.

Therefore opening an issue here, doesn't make real sense.

[2019-03-09 15:00] irrweg opened #73 "SMTP API Error - ErrorCode: '300', Message: 'Zero-sized attachments not allowed.'."
## Bug report

### Steps to reproduce

1. Attache a file to the Mail you going to send.
1. Now you get a 0KB file as attachment.
1. Send the E-Mail.

### Expected behavior

The attachment which is still their causes some problems on the SMTP side.

### Actual behavior

E-Mail gets rejected without any information that it was rejected.
The reason for it was Zero-sized attachment.

After I removed t

[2019-03-28 21:04] revad commented on #38
+1
'Provider' is a bad name for this. I see it's "Fournisseur" in the authors' native language so it's a literal translation.
After puzzling what it meant I too guessed it was just a distinguishing name. i suggest 'account name'.
It's a  simple change, but would need the screenshots regenerated.
Alternatively, insert 'nextcloud' as a default.

[2019-04-01 08:40] Desiderius77 opened #74 "Not working with Thunderbird 60.2.1 64 bits"
Hi all

I try to install this add-on on my Thunderbird 60.2.1  64 bits under Linux 4.19.19.

First I have dowloaded it from the Thunderbird extensions site.

Then I have git cloned this site to test the latest version.

In both cases it does not work

- the extension is well installed in Thunderbird after a restart
- but when I go to Preferences=>Attachments and try to add a new storage service ,

[2019-04-01 09:19] alfredbuehler commented on #74
I assume you had used nextcloud-filelink in this profile earlier. You have to remove this earlier account from your profile, as only one account per provider is possible.

Scan your _prefs.js_ for lines containing _"mail.cloud_files.accounts"_. Delete them if any.

[2019-04-01 09:32] Desiderius77 commented on #74
Hi Alfred
I have looked at  pref.js in my Thunderbird profile and ...
No lines containg "mail.cloud-files.account"
Of course i have try to install nextcloud-filelink many times without success but each time i have installed and desintalled it using Thunderbird extension manager.
May be a problem with my profile : i will test tou lanch Thunderbird with a new fresh profile

[2019-04-01 09:38] Desiderius77 commented on #74
Just try with a new fresh profile and ... it works !
Surely a problem with another extension.
I will try to create a new profile adding each extension one by one to see

[2019-04-02 18:09] Mickael-Martin commented on #43
Same think for me, remove my provider and create again with strong password works !

[2019-04-09 08:29] benbrummer commented on #43
I only have this problem if Nextcloud is setup to "Enforce password protection" and i do not set a password in filelink.

[2019-04-19 14:40] YoSiJo commented on #43
I had the same problem with the password. But for me it was because the password didn't meet the required password guidelines.
Maybe "Filelink" should check the password for compliance with the password guidelines.

[2019-04-22 10:26] alfredbuehler commented on #43
Agree! Or at least it should mention the policy in effect instead of silently fail.

[2019-04-30 23:18] Thomas-Ganter opened #75 "Compatibility with current Thunderbird version 67"
## Bug report

As title says, Thunderbird 67 does not load the Add-On.
Manually tweaking the "install.rdf" file did not help.

### Steps to reproduce

1. Open Thunderbird Add-Ons page
1. Install from file
1. See error message

### Expected behaviour

Add-on is loaded.

### Actual behaviour

Thunderbird reports Add-On is not compatible.

### manually tweaked install.rdf

Patching install.rdf in the

[2019-05-01 09:14] alfredbuehler commented on #75
I think, increasing the maxVersion is not enough.
See also ["Legacy" XUL extensions with overlays](https://wiki.mozilla.org/Thunderbird/Add-ons_Guide_63#.22Legacy.22_XUL_extensions_with_overlays)

[2019-05-09 12:47] biva commented on #52
Hi here, Thunderbird just announced compatibility with WeTransfer: https://blog.mozilla.org/thunderbird/2019/05/wetransfer-file-transfer-now-available-in-thunderbird/

It made me think again to this topic. Do you think we could go towards a solution? Thanks!

[2019-06-11 22:36] jibe82 opened #77 "Changing password in nextcloud and Thunderbird don't ask you to update the saved password and provider auth failed"
If you use filelink and you save your password into Thunderbird when you change your nextcloud password, Thunderbird don't ask you to update the saved password. It just get an authentification failed into options >>> attachments >>> nextclou provider account.

[2019-08-01 17:47] stefanoquintarelli opened #78 ""Unable to upload", yet the file is uploaded..."
Hello, I'm runnig nextcloud 16.0.3, (with TOTP), thunderbird 60.8.0, filelink 1.8 on windows 7

when uploading a file, I always get an error message
"Unable to upload: <filename> to <myserver>"

but when I log in to my server, the file is there. it has been uploaded.
(so I think there's not a credentials problem)

any ideas of what I could try ?
any help highly appreciated.

[2019-08-09 12:34] RonMen commented on #78
@stefanoquintarelli I can confirm this issue. Running Nextcloud 16.0.3, Thunderbird 60.8.0 (32bit), Windows 10 here.

File is uploaded to the server, but I got an error within Thunderbird like shown below in the screenshot.

![image](https://user-images.githubusercontent.com/2003172/62779123-9946a680-bab2-11e9-9524-e9e2f8f0b169.png)

Regards
RonMen

[2019-08-12 14:12] creopard commented on #78
So the issue here seems to be the "TOTP" setting.
I'm running Nextcloud 16.0.3 & Thunderbird 60.8.0 (64bit), but **without** "TOTP" and filelink still works perfectly fine.

[2019-08-23 07:50] RonMen commented on #78
Like @creopard mentioned we do not have the "TOTP" running on this Cloud server and nevertheless it isn't running here.

Regards
RonMen

[2019-08-30 07:27] johndoe7000 opened #80 "Add TB 68 support"
Hello,

please add Thunderbird 68.0 support.
There are also some nice pull requests in the pipe... "Add random password generation support for each upload" would be really nice.

[2019-09-09 09:07] e-alfred commented on #80
@oparoz @guillaumev It would be great to revive this extension. Do you know which parts have to be fixed to make it work with Thunderbird 68?

[2019-09-09 21:23] adhome1 commented on #80
Yes please try a update. There are near none FileLink alternatives for 68.0
Perhaps this can help:
https://developer.thunderbird.net/add-ons/updates
At least a manifest.json is needed. Also other 68.0 FileLink addons can help to be analysed.

[2019-09-10 11:44] guillaume-smo commented on #80
The WebDav filelink provider module works well with TB68 and NextCloud if it can help.

[2019-09-12 17:23] e-alfred commented on #80
@guillaume-smo How did you set up the Webdav filelink provider?

[2019-09-24 13:13] uku69 commented on #80
@gulliaume-smo:
Yes, the upload to nextcloud is working fine with WebDAV.
But: the link created couldn't be used at mail receivers.
First a password is needed and second it's not possible to download the document :-O
If I upload a document manually to nextcloud and generate a link and add the link to the mail, the system works fine :-)

[2019-09-29 17:58] jmfernandez commented on #75
This issue and issue #80 are related, if not the same topic

[2019-09-30 20:29] ovari opened #81 "Public statistics"
Please enable the statistics to be public:
https://addons.thunderbird.net/addon/nextcloud-filelink/statistics/

Thank you

[2019-10-05 13:39] antonol68 commented on #71
Same here. I think this is even a security issue because you have to delete or remove the share manually making the link exposed.
The option of expiration period or deletion after the recipient's download would be a great improvement security wise.

[2019-10-05 14:53] alfredbuehler commented on #71
@antonol68 Deleting the shared file after the link is expired is IMHO clearly a responsibility of the cloud service, not the TB-extension.

[2019-10-09 15:51] thenamelessthing commented on #80
I agree with this request!

[2019-10-10 07:28] valpo commented on #71
I also think the option to set an expiration date for a link would be a great improvement. Regarding the delete I agree with alfred.

[2019-10-14 13:58] guillaumev commented on #80
I created a PR here: https://github.com/nextcloud/nextcloud-filelink/pull/82 This is in a very early stage and for now, nothing works, but help will be greatly appreciated :-)

[2019-10-21 11:03] drlellinger opened #83 "Group policies for auto-deployment"
## Feature request

**User level**: Beginners

### Description
Please add group policies/group policy engine for setting up server settings, user credentials and storage path that the add-on will use.

### Benefit / value
Enterprise clients can use this add-on in combination with the policy templates for Thunderbird for automatic deployment.

### Risk / caveats
---

### Sponsorship

**Are you a de

[2019-10-29 15:50] marcogaida commented on #69
TB Version 60.9.0 (64-Bit)
FileLink Ver 1.8

I do have the same problem here. After uploading the files creating the links the attachment should be deleted from the mail.

Something new since January?

Kind regards
Marco

[2019-11-05 12:47] ediazcomellas commented on #80
Will it help if I post a bounty for this?

[2019-11-05 15:19] e-alfred commented on #80
@ediazcomellas I think posting a bounty is always a good incentive.

[2019-11-05 16:42] ediazcomellas commented on #80
$100 added.

[2019-11-10 16:29] #53 closed

[2019-11-15 15:18] e-alfred commented on #80
@jospoortvliet Can you add this repository to the Bountysource bot?

[2019-12-06 19:16] jospoortvliet commented on #80
@e-alfred done. Sorry, I rarely manage to catch up to notifications in github :(

[2019-12-11 14:19] serafin84 commented on #80
Hello,
Can anyone tell me how to run this add-on or sending nextcloud attachments in the latest thunderbird?

[2019-12-11 14:59] mxa commented on #80
Maybe someone can link the bountysource page here, I could not find it.

[2019-12-11 18:53] tobiasKaminsky commented on #80
https://www.bountysource.com/issues/79616389-add-tb-68-support

[2019-12-30 19:25] josepmendoza commented on #80
Onwcloud addon:
https://addons.thunderbird.net/es/thunderbird/addon/filelink-provider-for-owncloud/

Github repo:
https://github.com/thosmos/filelink-owncloud

Doesn't work with Nextcloud, but I've made a fork with a little patch that works with Nextcloud:
https://github.com/josepmendoza/filelink-owncloud

[2019-12-30 19:34] sebastienserre commented on #80
Could you please add a readme.md explaining how to install it without an .xpi please ?

[2019-12-30 20:31] josepmendoza commented on #80
Installation

1. Zip all files located in the root folder such that the manifest.json in the root folder of the zip file
2. Name this zip file as filelink-owncloud@thosmos.com.xpi
3. Open your Thunderbird, and install as addon file.

or download my packed and patched addon: [filelink-owncloud-patched](https://enginy.cloud/s/YBLYDXXNw9fqs6j/download)

[2019-12-31 07:02] sebastienserre commented on #80
Unfortunately, I have an error message "Imposible to upload to Owncloud" :-(

[2019-12-31 09:02] manu-p commented on #80
Hi, thanks @josepmendoza

Works fine on my side with TB68.2.2 and NC16.0.7.
And on NC17.0.2 too.

I'm using an app token as proposed and just had to replace the storage path to the previous /Mail-attachments/ value.

[2019-12-31 09:12] sebastienserre commented on #80
forgot to replace /Mailattachments/ on my settings to /Mail-attachments/
and it works! Thx @manu-p & @josepmendoza

[2020-01-03 14:13] e-alfred commented on #80
@oparoz @guillaumev Can you merge the fixed code and release an official app?

[2020-01-07 18:25] merrx commented on #80
The owncloud version from @thosmos didn't work with my universities owncloud, but the nextcloud version from @josepmendoza works fine. The owncloud version can upload the file, but it didn't paste anything in my mail (forever spinning indicator).

May I suggest adding some random numbers (?) to the file name as the old version did. So it doesn't make filename collisions if uploading the same file

[2020-01-24 08:28] thosmos commented on #80
I've incorporated @josepmendoza's changes and also the random file name into the published version 1.7 at https://addons.thunderbird.net/es/thunderbird/addon/filelink-provider-for-owncloud/

I have it working on both owncloud and nextcloud. I would appreciate feature requests or bugs be made at its repo https://github.com/thosmos/filelink-owncloud

[2020-01-24 16:04] wagnbeu0 commented on #80
Perfect, can you share a version with the nextcloud Logos as well?

[2020-01-26 13:03] e-alfred commented on #80
@thosmos Awesome work, but maybe @jospoortvliet @guillaumev @oparoz can add you as a collaborator to this repository? It would be good to have this in the main repository so people can simply update their extension instead of removing the "official" one and installing another one.

[2020-01-27 18:38] thosmos commented on #80
I'd be happy to contribute to this repo.  I'll see about making a PR that would modify this repo to get it to start working again.  I just added this intention to the bountysource.  That'd be fun to get some $ for this work.  ;)

[2020-02-11 10:15] Geisterfahrer commented on #80
I really appreciate your work on getting this addon running again!

I am still missing one really cool feature from the "original" version; it is the possibility to attach Filelinks to Lightning's calendar entries.
Is it possible to re-integrate it?

Cheers,
Michael

[2020-03-11 08:02] jurgenhaas commented on #80
Just to let everyone know, there is another option available from https://gitlab.com/joendres/filelink-nextcloud which is working extremely well and comes with some extra features.

[2020-04-25 17:30] #60 closed

[2020-06-17 17:03] e-alfred commented on #80
Anybody interested in finishing this? I (and certainly anybody who put up a bounty on Bountysource worth 130$) doesn't want to give it to Bountysource after the change in their terms of service that assigns the money to them after some time if a Bounty goes unclaimed.

I will quit their service (and shady practices) soon anyway, here is more info on that: https://help.nextcloud.com/t/dont-use-boun

[2020-06-17 17:10] ediazcomellas commented on #80
As  https://gitlab.com/joendres/filelink-nextcloud  works very well, I think it is time to end this bounty and put an end to this plugin.  I would accept if someone from Nextcloud requests the bounty and gives it to nextcloud related projects. @ChristophWurst, any suggestion?

[2020-06-17 17:17] ChristophWurst commented on #80
I would suggest [Nextcloud Include](https://nextcloud.com/include/).

But it's best if the money is donated there by someone else. As otherwise I will have to cash out *a lot* and the tax situation will be even more complex (this is not an income for me but technically this likely falls under income taxation, I'll have to check this in detail).

[2020-06-17 18:00] e-alfred commented on #80
True, *cloud is the way to go. Maybe it should be the official Thunderbird extension in the future for Nextcloud?

[2020-06-17 18:06] ediazcomellas commented on #80
Yes, sure... taxes can be a big player here. Maybe the Nextcloud include initiative can claim it directly to avoid all this issue. In any case, your opinion on this topic is what counts to me. Tell me how to proceed in this and the other bounties.

[2020-06-17 18:12] ChristophWurst commented on #80
I'm in contact with KDE e.V. to figure out a way to get the money from Bountysource to the Include fund without the tax issues. I'll update the forum post with infos once I know more. Let's try to keep the info in one place :v:

[2020-06-24 06:44] joendres commented on #80
May I humbly point out that I tried to claim the bounty when I released [*cloud](https://gitlab.com/joendres/filelink-nextcloud), but was declined by Nextcloud? I'd still be glad to take the bounty (and handle the tax issues :wink:).

I think I'll find a way to spend the money on "Refugeeks", our project to teach programming to refugees to help them to integrate via jobs in tech companies.

[2020-06-24 06:51] joendres commented on #80
Oh, and if you really like *cloud, I'd also be very grateful for some stars on gitlab or reviews in [Thunderbird's Addon Repository](https://addons.thunderbird.net/thunderbird/addon/filelink-nextcloud-owncloud/) .

[2020-06-24 08:19] jurgenhaas commented on #80
I second that, the *cloud plugin is awesome.

[2020-06-24 08:42] ChristophWurst commented on #80
Sure, go ahead. I only gave a suggestion for those who don't know where to put the money. It's still your money, so your choice :wink:

[2020-06-24 09:45] qm2k commented on #80
Just wrote a review on Thunderbird's Addon Repository -- the extension is great, actually better then the official defunct addon was.

Would you please share the direct link on gitlab repository you'd like to have the stars on? EDIT: Oops, the [link ](https://gitlab.com/joendres/filelink-nextcloud) was in the previous message.

[2020-06-24 10:31] joendres commented on #80
Bountysource tells me, that I can claim it as soon as #80 is closed as fixed. @ChristophWurst can you do that?

[2020-06-24 10:32] joendres commented on #80
@qm2k thanks a lot. The project ist here: https://gitlab.com/joendres/filelink-nextcloud

[2020-06-24 12:05] ChristophWurst commented on #80
Please ask someone of the [contributors](https://github.com/nextcloud/nextcloud-filelink/graphs/contributors) to close this ticket as I do not want to get into other people's stuff.

[2020-06-24 12:13] e-alfred commented on #80
It would be awesome to make *cloud the new official Thunderbird plugin for Nextcloud. Right now all links go to this deprecated repository leading people to a non-working extension.

[2020-06-24 12:14] ChristophWurst commented on #80
I'm super new to this repo. I didn't even know there was a Thunderbird plugin for Nextcloud. So excuse my basic questions but is the other one a fork of this one? What is stopping you from updating the references to the new repo (on gitlab)?

[2020-06-24 12:16] ChristophWurst commented on #80
@guillaumev @michaelletzgus @NDev8 @uli-heller would any of you have a problem with us closing this ticket so @joendres can claim the bounty?

Let's proceed with closing unless one of these four contributors raises objections. Two weeks is a reasonable time frame, I guess.

[2020-06-24 14:03] joendres commented on #80
@ChristophWurst

No, I started from scratchbecause the current API has nothing in common with the legacy one.

[2020-06-24 14:49] uli-heller commented on #80
closing is no problem for me

Am 24. Juni 2020, um 14:15, schrieb Christoph Wurst <notifications@github.com>:

@guillaumev @michaelletzgus @NDev8 @uli-heller would any of you have a problem with us closing this ticket so @joendres can claim the bounty?

Let's proceed with closing unless one of these four contributors raises objections. Two weeks is a reasonable time frame, I guess.

—
You are rece

[2020-06-24 21:01] ediazcomellas commented on #80
Looks like a good solution to me.

[2020-07-20 13:26] joendres commented on #80
@ChristophWurst it's been 3 weeks now. I'd be grateful if you could close the bug.

TIA, @joendres

[2020-07-20 14:25] uli-heller commented on #80
I'm fine with closing but I cannot close it personally

[2020-07-23 06:01] joendres commented on #80
Sorry, I mentined the wrong person. @oparoz is the one to inform.

[2020-08-08 15:26] joendres commented on #80
OK, I give up. None of the Contributor seems to be willing to close this issue. I had a brief contact with @oparoz via twitter, but he is unresponsive there too. I'd like to discuss _how_ to close this in a way that a) makes users happy b) makes bountysource happy. But nobody answers. So this issue will be open forever, the links from nextcloud.com will point to the disfunctional Addon, Nextcloud

[2020-08-08 15:38] ediazcomellas commented on #80
How can I help?

[2020-08-08 17:13] joendres commented on #80
I don't know, I'm just frustrated. By now I've literally spent hours to get somebody to communicate with me, who can decide and act on this project. That's more time than the bounty is worth -- just unsuccessfully trying to establish communication. Don't get me wrong: There are some people at Netxcloud, who try to be helpful. But they tell me, they can't decide. And those, they point me to, *just

[2020-08-09 08:57] uku69 commented on #80
I am also fine with the *cloud extension. it's working without any problems. Does nobody know how to reach @oparoz for closing down this issue and force to pay out the bounties?
on the other hand - the request was opened by @johndoe7000... ?

[2020-08-10 06:17] uli-heller commented on #80
The fact that you have to ask again and again is really bad. I don't know who can close the issue. But for sure, you cannot close it just because you're a contributor. Beside my name, this project says "Contributor" - probably because I proposed a pull request before - but I cannot close any issue. There is no "close issue" button. Sorry.

[2020-08-10 09:51] ediazcomellas commented on #80
I've asked for a refund of the bounty and will send it directly to @joendres once I get it back.

[2020-08-11 11:58] ChristophWurst commented on #80
I'm sorry for the frustration caused. It's holiday season and some of us are simply offline for their days off, and so have I. Thus there was no communication from us.

What's left? Just closing of the ticket?

[2020-08-11 11:58] #80 closed, assigned to nobody

[2020-08-11 12:45] e-alfred commented on #80
@ChristophWurst Well, all of this:

*cloud is the right addon, the "official" seems to be deprecated.

[2020-08-11 12:50] ChristophWurst commented on #80
If you give me a link we can try to find the source at https://github.com/nextcloud/nextcloud.com to change that link to the "new" addon

[2020-08-11 12:53] ediazcomellas commented on #80
Unfortunately I retired my pledge at bountysource yesterday! I will send the bounty directly to Johannes.

[2020-08-11 17:41] e-alfred commented on #80
@ChristophWurst I think @joendres should know but I think those are the right links:

https://addons.thunderbird.net/en-US/thunderbird/addon/filelink-nextcloud-owncloud/
https://gitlab.com/joendres/filelink-nextcloud

[2020-08-11 18:27] ChristophWurst commented on #80
Done https://github.com/nextcloud/nextcloud.com/pull/1336

[2021-01-13 10:30] biva commented on #52
I see that it's now possible to "share by mail" (https://github.com/nextcloud/desktop/issues/1180) within the desktop app. It's great, but it's not as convenient as a sharing within Thunderbird: indeed, it sends a dedicated email, it's not possible to edit the email before and the link cannot be included in an email I write.

It would be great to have this feature: what do you think?

[2021-02-10 07:57] keunes opened #87 "Tag missing on Thunderbird extension page"
Hello,

I was just reinstalling Thunderbird at my dad's machine. In the Thunderbird settings, under 'attachments' I clicked 'Search more providers...' (re-translated from Dutch). It leads you to the following page: https://addons.thunderbird.net/nl/thunderbird/tag/filelink

Nextcloud wasn't listed there, so I started fiddling with WebDav until I gave up, searched, and found this plug-in (which I p

[2021-02-10 08:06] keunes commented on #87
Edit, just saw [here](https://github.com/nextcloud/nextcloud-filelink/issues/80#issuecomment-671924691) that this plug-in is not relevant any-more and that [*cloud](https://addons.thunderbird.net/en-US/thunderbird/addon/filelink-nextcloud-owncloud/) should be used instead.

[2021-02-10 08:06] #87 closed, assigned to nobody

[2021-06-25 06:15] tuxmaster5000 opened #88 "[1.8.0] Will not work with 78.11.0"
Thunderbird only say, that the plug is not compatible any more :(

[2021-06-25 06:29] creopard commented on #88
You need to use this addon:
https://gitlab.com/joendres/filelink-nextcloud